<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stellenangebote</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h1>Welcome to our Career Site</h1>
<h2>You want to level up your life, check our range of job offers</h2>


<h3>Stellenangebote</h3>

<table>
    <tr>
        <th>Jobtitel</th>
        <th>Beschreibung</th>
        <th>Ort</th>
        <th>Gehalt</th>
    </tr>
    <tr>
        <td>Software Engineer</td>
        <td>Entwickelt Softwareanwendungen</td>
        <td>Frankfurt, Deutschland</td>
        <td>$80,000.00</td>
    </tr>
    <tr>
        <td>Data Scientist</td>
        <td>Analysiert und interpretiert komplexe Datenmuster</td>
        <td>New York, USA</td>
        <td>$90,000.00</td>
    </tr>
    <tr>
        <td>Marketing Manager</td>
        <td>Entwickelt und implementiert Marketingstrategien</td>
        <td>London, Vereinigtes Königreich</td>
        <td>$75,000.00</td>
    </tr>
    <!-- Weitere Stellenangebote hier hinzufügen -->
</table>

</body>
</html>
